{% extends "index.html" %}
{% block title%} Manage Location {% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
              <div class="col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="menus">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Add Location
                        </div>
                        <div class="panle-body">

                            <form action="{{url_for('insert_Location')}}" method="POST" style="padding:4%;">

                                <div class="row">
                                    <div class="col-lg-2 form-group">
                                        <label>Name</label>
                                     </div>
                                    <div class="col-lg-4 form-group">
                                        <input type="text" placeholder="Enter Location Name" name="LocationName" class="form-control" required>

                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-lg-2   form-group">
                                        <label>Description</label>
                                    </div>
                                     <div class="col-lg-4 form-group">
                                        <textarea type="text" placeholder="Enter Location Description" name="LocationDescription" class="form-control" required ></textarea>

                                    </div>
                                 </div>



                                <div class="row">
                                    <div class="col-lg-2   form-group">

                                    </div>
                                     <div class="col-lg-4 form-group">
                                      <button class="btn  btn-success"  type="Submit">Save</button>

                                    </div>
                                 </div>



                            </form>




                                    {%with messages = get_flashed_messages()%}

                                    {%if messages%}

                                    {% for message in messages %}

                                        <div class="alert alert-success alert-dismissable" role="alert">

                                         <button type="button" class="close" data-dismiss="alert" aria-label ="close">

                                             <span aria-hidden="true">&times;</span>

                                         </button>
                                            {{message}}


                                        </div>


                                    {%endfor%}
                                    {%endif%}
                                    {%endwith%}


                            <div style="padding:4%">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                {% for row in location %}
                                    <tr>
                                        <td>{{ row.0 }}</td>
                                        <td>{{ row.1 }}</td>
                                        <td>{{ row.2 }}</td>
                                        <td>
                                            <a href="/update_Location/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ row.0 }}">Edit</a>
                                        </td>

                                    </tr>

                                    <div id="modaledit{{ row.0 }}" class="modal fade" role="dialog">
                                       <div class="modal-dialog">
                                          <div class="modal-content">
                                             <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Update Information</h4>
                                             </div>
                                             <div class="modal-body">
                                                <form action="{{ url_for('update_Location')}}" method="POST">

                                                   <div class="form-group">
                                                      <label>Name:</label>
                                                       <input type="hidden" value="{{row.0}}" name="Locatiion_Id">
                                                          <input type="text" class="form-control" name="Locationname_edit" value="{{row.1}}" required>
                                                   </div>
                                                   <div class="form-group">
                                                      <label>Description</label>
                                                       <input type="text" class="form-control" name="LocationDescription_edit" value="{{row.2}}" required>
                                                   </div>

                                                    <button type="submit" class="btn btn-success">Edit</button>
                                                </form>
                                             </div>


                                             <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                             </div>


                                          </div>
                                       </div>
                                     </div>



                                    {% endfor %}
                                </table>
                            </div>

                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
