{% extends "index.html" %}
{% block title%} Manage Location {% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
              <div class="col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8">
                {% for product in producttable %}
                  <h1>{{product.0}}</h1>

                  <table>
                      <tr>
                          <th>Warehouse</th>
                          <th>Quantity</th>
                      </tr>
                      {% for location in locationtable %}
                      <tr>
                          <input type="hidden" value ={{location.1}}>
                          <td> {{location.1}} </td>
                          <td> {{}}</td>
                      </tr>
                      {% endfor %}
                  </table>
                  {% endfor %}
            </div>
        </div>
    </div>






{% endblock %}
